<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winkel.qualityevaluation.dao.Index1Dao">

    <!-- 通用查询映射结果 -->
<!--    <resultMap id="BaseResultMap" type="com.winkel.qualityevaluation.entity.Location">-->
<!--        <result column="code" property="code" javaType="java.lang.String" jdbcType="VARCHAR"/>-->
<!--        <result column="p_code" property="pCode" javaType="java.lang.String" jdbcType="VARCHAR"/>-->
<!--        <result column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>-->
<!--        <result column="type" property="type" javaType="java.lang.Integer"/>-->

<!--    </resultMap>-->

</mapper>
