<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winkel.qualityevaluation.dao.SubmitDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.winkel.qualityevaluation.entity.task.EvaluateSubmit">
        <id column="submit_id" property="id"/>
        <result column="evaluate_task_id" property="taskId"/>
        <result column="submit_time" property="submitTime"/>
        <result column="evaluate_index3_id" property="index3Id"/>
        <result column="submit_content" property="content"/>
        <result column="submit_is_locked" property="isLocked"/>
        <result column="score" property="score"/>
    </resultMap>

    <select id="selectAllSubmitByUserId" resultType="com.winkel.qualityevaluation.entity.task.EvaluateSubmit">
        select evaluatesubmit.submit_id, evaluatesubmit.submit_is_locked
        from evaluatetask,
             user,
             tschool,
             evaluatecycle,
             evaluatesubmit
        where user.id = #{id}
          and user.school_code = evaluatetask.school_code = tschool.school_code
          and CONCAT(LEFT(tschool.school_location_code, 6), '000000') = evaluatecycle.cycle_county_location_code
          and evaluatetask.task_cycle = evaluatecycle.cycle_current
          and evaluatetask.evaluate_task_id = evaluatesubmit.evaluate_task_id
    </select>

</mapper>
