<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winkel.qualityevaluation.dao.TaskDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.winkel.qualityevaluation.entity.task.EvaluateTask">
        <id column="evaluate_task_id" property="id"/>
        <result column="school_code" property="schoolCode"/>
        <result column="evaluate_task_name" property="name"/>
        <result column="evaluate_id" property="evaluateId"/>
        <result column="evaluate_task_start_time" property="startTime"/>
        <result column="evaluate_task_end_time" property="endTIme"/>
        <result column="evaluate_task_content" property="content"/>
        <result column="task_cycle" property="cycle"/>
        <result column="task_status" property="status"/>
        <result column="task_type" property="type"/>
        <result column="task_is_locked" property="isLocked"/>
    </resultMap>

    <update id="startCycle" parameterType="java.lang.String">
        update evaluatecycle
        set cycle_current = cycle_current + 1
        where cycle_county_location_code = #{locationCode}
    </update>

    <select id="selectCurrentCycle" resultType="java.lang.Integer">
        select cycle_current
        from evaluatecycle
        where cycle_county_location_code = #{locationCode}
    </select>

    <select id="selectTaskIdByUserIdAndType" resultType="java.lang.Integer">
        select evaluate_task_id
        from evaluatetask,
             user,
             tschool,
             evaluatecycle
        where user.id = #{id}
          and user.school_code = evaluatetask.school_code = tschool.school_code
          and CONCAT(LEFT(tschool.school_location_code, 6), '000000') = evaluatecycle.cycle_county_location_code
          and evaluatetask.task_cycle = evaluatecycle.cycle_current
          and evaluatetask.task_type = #{type}
    </select>

    <select id="selectTaskByUserId" resultType="com.winkel.qualityevaluation.entity.task.EvaluateTask">
        select evaluatetask.evaluate_task_id
        from evaluatetask,
             user,
             tschool,
             evaluatecycle
        where user.id = #{id}
          and user.school_code = evaluatetask.school_code = tschool.school_code
          and CONCAT(LEFT(tschool.school_location_code, 6), '000000') = evaluatecycle.cycle_county_location_code
          and evaluatetask.task_cycle = evaluatecycle.cycle_current
          and evaluatetask.task_type = #{type}
    </select>


    <select id="selectFinishedTaskIdByCountyAdminId" resultType="java.lang.Integer">
        select evaluatetask.evaluate_task_id
        from evaluatetask,
             user,
             tschool,
             evaluatecycle
        where user.id = #{id}
          and evaluatecycle.cycle_county_location_code = user.location_code
          and CONCAT(LEFT(tschool.school_location_code, 6), '000000') = evaluatecycle.cycle_county_location_code
          and evaluatetask.school_code = tschool.school_code
          and evaluatetask.task_cycle = evaluatecycle.cycle_current
          and evaluatetask.task_type in (2, 3)
          and evaluatetask.task_status = 4
    </select>


    <select id="selectFinishedTaskIdByCityAdminId" resultType="java.lang.Integer">
        select evaluatetask.evaluate_task_id
        from evaluatetask,
             user,
             tschool,
             evaluatecycle
        where user.id = #{id}
          and CONCAT(LEFT(tschool.school_location_code, 4), '00000000') = user.location_code
          and CONCAT(LEFT(tschool.school_location_code, 6), '000000') = evaluatecycle.cycle_county_location_code
          and evaluatetask.school_code = tschool.school_code
          and evaluatetask.task_cycle = evaluatecycle.cycle_current
          and evaluatetask.task_type = 4
          and evaluatetask.task_status = 4
    </select>

    <select id="selectFinishedTaskIdByProvinceAdminId" resultType="java.lang.Integer">
        select evaluatetask.evaluate_task_id
        from evaluatetask,
             user,
             tschool,
             evaluatecycle
        where user.id = #{id}
          and CONCAT(LEFT(tschool.school_location_code, 2), '0000000000') = user.location_code
          and CONCAT(LEFT(tschool.school_location_code, 6), '000000') = evaluatecycle.cycle_county_location_code
          and evaluatetask.school_code = tschool.school_code
          and evaluatetask.task_cycle = evaluatecycle.cycle_current
          and evaluatetask.task_type = 5
          and evaluatetask.task_status = 4
    </select>

    <!--    <select id="selectTaskIdByAdminId" resultType="java.lang.Integer">-->
    <!--        select evaluatetask.evaluate_task_id-->
    <!--        from evaluatetask,-->
    <!--        user,-->
    <!--        tschool,-->
    <!--        evaluatecycle,-->
    <!--        user_authority-->
    <!--        where user.id = #{id}-->
    <!--        and user_authority.user_id = user.id-->
    <!--        and CONCAT(LEFT(tschool.school_location_code, 6), '000000') = evaluatecycle.cycle_county_location_code-->
    <!--        and evaluatetask.task_cycle = evaluatecycle.cycle_current-->
    <!--        and evaluatetask.school_code = tschool.school_code-->
    <!--        and evaluatetask.task_status = 4-->
    <!--        <choose>-->
    <!--            <when test="user_authority.authority_id == 1">-->
    <!--                and evaluatecycle.cycle_county_location_code = user.location_code-->
    <!--                and evaluatetask.task_type in (2, 3)-->
    <!--            </when>-->
    <!--            <when test="user_authority.authority_id == 2">-->
    <!--                and CONCAT(LEFT(tschool.school_location_code, 4), '00000000') = user.location_code-->
    <!--                and evaluatetask.task_type = 4-->
    <!--            </when>-->
    <!--            <when test="user_authority.authority_id == 3">-->
    <!--                and CONCAT(LEFT(tschool.school_location_code, 2), '0000000000') = user.location_code-->
    <!--                and evaluatetask.task_type = 5-->
    <!--            </when>-->
    <!--            <otherwise>-->

    <!--            </otherwise>-->
    <!--        </choose>-->
    <!--    </select>-->


    <select id="selectTaskByCountycodeAndTasktypeAndStatus" resultMap="BaseResultMap">
        select distinct evaluatetask.evaluate_task_id,
                        evaluatetask.school_code,
                        evaluatetask.evaluate_task_end_time,
                        evaluatetask.task_cycle,
                        evaluatetask.task_status,
                        evaluatetask.task_type
        from user,
             evaluatetask,
             tschool
        where evaluatetask.task_status = #{status}
          and evaluatetask.task_type = #{tasktype}
          and tschool.school_location_code = #{countycode}
    </select>

    <select id="selectTaskByCitycodeAndTasktypeAndStatus" resultMap="BaseResultMap">
        select distinct evaluatetask.evaluate_task_id,
                        evaluatetask.school_code,
                        evaluatetask.evaluate_task_end_time,
                        evaluatetask.task_cycle,
                        evaluatetask.task_status,
                        evaluatetask.task_type
        from user,
             evaluatetask,
             tschool
        where evaluatetask.task_status = #{status}
          and evaluatetask.task_type = #{tasktype}
          and CONCAT(LEFT(tschool.school_location_code, 4), '00000000') = #{citycode}
    </select>

    <select id="selectTaskByProvincecodeAndTasktypeAndStatus" resultMap="BaseResultMap">
        select distinct evaluatetask.evaluate_task_id,
                        evaluatetask.school_code,
                        evaluatetask.evaluate_task_end_time,
                        evaluatetask.task_cycle,
                        evaluatetask.task_status,
                        evaluatetask.task_type
        from user,
             evaluatetask,
             tschool
        where evaluatetask.task_status = #{status}
          and evaluatetask.task_type = #{tasktype}
          and CONCAT(LEFT(tschool.school_location_code, 2), '0000000000') = #{citycode}
    </select>

    <select id="selectCountyTask" resultMap="BaseResultMap">
        select distinct evaluatetask.evaluate_task_id,
                        evaluatetask.school_code,
                        evaluatetask.evaluate_task_end_time,
                        evaluatetask.task_cycle,
                        evaluatetask.task_status,
                        evaluatetask.task_type
        from evaluatetask,
             tschool
        where CONCAT(LEFT(tschool.school_location_code, 6), '000000') = #{locationCode}
          and tschool.school_code = evaluatetask.school_code
    </select>

<!--    <select id="selectCityTask" resultMap="BaseResultMap">-->
<!--        select distinct evaluatetask.evaluate_task_id,-->
<!--                        evaluatetask.school_code,-->
<!--                        evaluatetask.evaluate_task_end_time,-->
<!--                        evaluatetask.task_cycle,-->
<!--                        evaluatetask.task_status,-->
<!--                        evaluatetask.task_type-->
<!--        from evaluatetask,-->
<!--             tschool-->
<!--        where CONCAT(LEFT(tschool.school_location_code, 4), '00000000') = #{locationCode}-->
<!--          and tschool.school_code = evaluatetask.school_code-->
<!--    </select>-->

<!--    <select id="selectProvinceTask" resultMap="BaseResultMap">-->
<!--        select distinct evaluatetask.evaluate_task_id,-->
<!--                        evaluatetask.school_code,-->
<!--                        evaluatetask.evaluate_task_end_time,-->
<!--                        evaluatetask.task_cycle,-->
<!--                        evaluatetask.task_status,-->
<!--                        evaluatetask.task_type-->
<!--        from evaluatetask,-->
<!--             tschool-->
<!--        where CONCAT(LEFT(tschool.school_location_code, 2), '0000000000') = #{locationCode}-->
<!--          and tschool.school_code = evaluatetask.school_code-->
<!--    </select>-->


</mapper>
