<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winkel.qualityevaluation.dao.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.winkel.qualityevaluation.entity.User">
        <result column="id" property="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="location_code" property="locationCode"/>
        <result column="school_code" property="schoolCode"/>
        <result column="is_locked" property="isLocked"/>
        <result column="create_time" property="createTime"/>
        <result column="cycle" property="cycle"/>
    </resultMap>

    <select id="checkPassword" resultType="int" parameterType="map">
        SELECT count(1)
        from user
        where password = #{password,jdbcType=VARCHAR}
          and username = #{username,jdbcType=VARCHAR}
    </select>

    <select id="selectAuthorities" parameterType="java.lang.String"
            resultType="com.winkel.qualityevaluation.entity.Authority">
        SELECT authority.url, authority.authority
        FROM user,
             authority,
             user_authority
        WHERE user.username = #{username,jdbcType=VARCHAR}
          AND user.id = user_authority.user_id
          AND user_authority.authority_id = authority.id
    </select>

    <update id="updateUserPassword">
        update user, user_authority, tschool
        set user.password = #{newPwd}
        where user.school_code = tschool.school_code
          and tschool.school_code = #{schoolCode}
          and user_authority.user_id = user.id
          and user_authority.authority_id = #{authorityId}
    </update>


</mapper>
